
build/
lib/*

#keep lib dir
!lib/
#keep lib/SFML dir
!lib/SFML/
#keep lib/SDL dir
!lib/SDL/
#keep lib NCURSES dir
!lib/NCURSES/

#disgard lib/SFML/build dir
lib/SFML/build/*
#disgard lib/SDL/build dir
lib/SDL/build/*
#disgard lib/NCURSES/build dir
lib/NCURSES/build/*

#keep lib/SFML/(SfmlLib.*
!lib/SFML/sfmlLib.*

#keep lib/SDL/(SDLlLib.*
!lib/SDL/sdlLib.*

#keep lib/NCURSES/(ncursesLib.*
!lib/NCURSES/ncursesLib.*
