
build/
lib/*

#keep lib dir
!lib/
#keep lib/SFML dir
!lib/SFML/
#keep lib/SDL dir
!lib/SDL/
#disgard lib/SFML/build dir
lib/SFML/build/*
#disgard lib/SDL/build dir
lib/SDL/build/*

#keep lib/SFML/(libSfml.*
!lib/SFML/sfmlLib.*

#keep lib/SFML/(libSfml.*
!lib/SDL/sdlLib.*
